/* 
Color paletter for project
https://coolors.co/palette/0081a7-00afb9-fdfcdc-fed9b7-f07167
*/
.nav-wrapper {
    background-color: #00afb9;
}

.page-footer {
    background-color: #f07167;

}

.footer-copyright {
    background-color: #f07167;
}

body {
    background-color: #fdfcdc
}

h1 {
    color: #0081a7;
}

.container {
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
