<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>AI Football Scout</title>
    <!-- MaterializeCSS used for project https://materializecss.com/about.html -->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>

    <link id="heading-font" rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@300;400;500;600;700;800;900&display=swap" media="all" />

    <script>
      window.tailwind.config = {
        "darkMode": "class",
        "theme": {
          "fontFamily": {
            "heading": ["DM Sans", "ui-sans-serif", "system-ui", "-apple-system", "BlinkMacSystemFont", "\"Segoe UI\"", "Roboto", "\"Helvetica Neue\"", "Arial", "\"Noto Sans\"", "sans-serif", "\"Apple Color Emoji\"", "\"Segoe UI Emoji\"", "\"Segoe UI Symbol\"", "\"Noto Color Emoji\""],
            "body": ["DM Sans", "ui-sans-serif", "system-ui", "-apple-system", "BlinkMacSystemFont", "\"Segoe UI\"", "Roboto", "\"Helvetica Neue\"", "Arial", "\"Noto Sans\"", "sans-serif", "\"Apple Color Emoji\"", "\"Segoe UI Emoji\"", "\"Segoe UI Symbol\"", "\"Noto Color Emoji\""]
          },
          "extend": {
            "borderRadius": {
              "global": "5px"
            },
            "colors": {
              "primary": {
                "50": "#f8f5ff",
                "100": "#eee6fe",
                "200": "#ddcefd",
                "300": "#c1a6fc",
                "400": "#844df9",
                "500": "#4d07e4",
                "600": "#3705a3",
                "700": "#280477",
                "800": "#170245",
                "900": "#0c0123",
                "950": "#070114",
                "DEFAULT": "#570df8"
              },
              "secondary": {
                "50": "#fff5fd",
                "100": "#ffe6f9",
                "200": "#fecdf3",
                "300": "#fea4e9",
                "400": "#fd49d3",
                "500": "#e802b3",
                "600": "#a70280",
                "700": "#79015d",
                "800": "#470136",
                "900": "#23001b",
                "950": "#140010",
                "DEFAULT": "#f002b8"
              }
            }
          }
        },
        "plugins": [window.tailwind.plugin.withOptions(({
          prefix = "ui"
        } = {}) => {
          return ({
            addVariant
          }) => {
            for (let state of ["open", "checked", "selected", "active", "disabled"]) {
              addVariant(`${prefix}-${state}`, [
                `&[data-headlessui-state~="${state}"]`,
                `:where([data-headlessui-state~="${state}"]) &`,
              ]);
  
              addVariant(`${prefix}-not-${state}`, [
                `&[data-headlessui-state]:not([data-headlessui-state~="${state}"])`,
                `:where([data-headlessui-state]:not([data-headlessui-state~="${state}"])) &:not([data-headlessui-state])`,
              ]);
            }
          };
        }), ]
      };
    </script>
    <style>
  #about-section {
      padding: 40px 0;
      text-align: center;
  }
  
  .about-title {
      color: #333;
      font-size: 108px;
      margin-bottom: 20px;
      width: -webkit-fill-available;
  }
  
  .about-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: baseline;
  }
  
  .about-text {
      max-width: 600px;
      text-align: left;
      margin-right: 20px;
      font-size: 30px;
  }
  
  .about-image img {
      max-width: 100%;
      height: auto;
      border-radius: 50%;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
      margin-top: 33px;
  }
  
  /* Responsive styles */
  @media screen and (min-width: 768px) {
      .about-content {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: baseline;
        margin-bottom: 20px;
      }
  
      .about-text {
          margin-right: 40px;
      }
  }
  </style>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>

<body>
    <nav>
        <div class="nav-wrapper">
            <div class="container">

                <a href="home.html"><img class="circle responsive-img" src="/images/project logo.jpg"
                        alt="" width="55" height="55"></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="home.html">Home</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="contactus.html">Contact Us</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="subscription.html">Subscription</a></li>
                    <li><a href="login.html">Login</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <main>
      <section id="about-section">
        <div class="container">
            <h1 class="about-title">About Us</h1>
            <div class="about-content">
                <div class="about-text">
                    <p>We are a team of passionate individuals dedicated to providing valuable insights and information about various topics.</p>
                    <p>Our mission is to make learning fun and accessible for everyone.</p>
                </div>
                <div class="about-image">
                    <img src="https://www.searchenginejournal.com/wp-content/uploads/2018/04/Doomtree-About-Us.jpg" alt="Team Photo">
                </div>
            </div>
        </div>
    </section>
  </main>
  


    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l5 s12">
                    <h5 class="white-text">AI Football Scout</h5>
                    <p class="grey-text text-lighten-4">© AI Football Scout is providing services of searching
                        prospective
                        players in world top 7 leagues.
                    </p>
                </div>
                <div class="col l2 s12">
                    <h5 class="white-text">Company</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="about.html">About</a></li>
                        <li><a class="grey-text text-lighten-3" href="blog.html">Blog</a></li>
                        <li><a class="grey-text text-lighten-3" href="contactus.html">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col l2 offset-l2 s12">
                    <h5 class="white-text">Social Media</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Twitter</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Youtube</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2024 Deakin University
                <a class="grey-text text-lighten-4 right" href="#!">deakin.edu.au</a>
            </div>
        </div>
    </footer>
</body>

</html>