<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>AI Football Scout</title>
    <!-- MaterializeCSS used for project https://materializecss.com/about.html -->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <nav>
        <div class="nav-wrapper">
            <div class="container">

                <a href="/"><img class="circle responsive-img" src="/images/project logo.jpg" alt="" width="55"
                        height="55"></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contactus">Contact Us</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/subscription">Subscription</a></li>
                    <li><a href="/register">Join Us</a></li>
                    <li><a href="/login">Login</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main>
        <div class="container">
            <h1>Contact Us</h1>
            <p>Have questions or feedback? Reach out to us using the form below:</p>
            <div id="responseMessage"></div>
            <form id="contactForm" method="post">
                <div class="input-field">
                    <input type="text" id="name" name="name" required>
                    <label for="name">Your Name</label>
                </div>
                <div class="input-field">
                    <input type="email" id="email" name="email" required>
                    <label for="email">Your Email</label>
                </div>
                <div class="input-field">
                    <textarea id="description" class="materialize-textarea" name="message" required></textarea>
                    <label for="description">Description</label>
                </div>
                <button class="btn waves-effect waves-light" type="submit">Submit</button>
            </form>
            <br><br><br>
        </div>
    </main>

    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l5 s12">
                    <h5 class="white-text">AI Football Scout</h5>
                    <p class="grey-text text-lighten-4">© AI Football Scout is providing services of searching
                        prospective
                        players in world top 7 leagues.
                    </p>
                </div>
                <div class="col l2 s12">
                    <h5 class="white-text">Company</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="/about">About</a></li>
                        <li><a class="grey-text text-lighten-3" href="/blog">Blog</a></li>
                        <li><a class="grey-text text-lighten-3" href="/contactus">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col l2 offset-l2 s12">
                    <h5 class="white-text">Social Media</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/">Facebook</a></li>
                        <li><a class="grey-text text-lighten-3" href="https://twitter.com">Twitter</a></li>
                        <li><a class="grey-text text-lighten-3" href="https://www.youtube.com/">Youtube</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2024 Deakin University
                <a class="grey-text text-lighten-4 right" href="https://www.deakin.edu.au/">deakin.edu.au</a>
            </div>
        </div>
    </footer>
    <script src="js/contactus.js"> </script>
</body>

</html>