<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>AI Football Scout</title>
    <!-- MaterializeCSS used for project https://materializecss.com/about.html -->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://unpkg.com/materialize-stepper@3.1.0/dist/js/mstepper.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/materialize-stepper@3.1.0/dist/css/mstepper.min.css">

    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/dashboardinput.css">

</head>

<body>
    <nav>
        <div class="nav-wrapper">
            <div class="container">

                <a href="/"><img class="circle responsive-img" src="/images/project logo.jpg" alt="" width="55"
                        height="55"></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/dashboardinput">Make AI Request</a></li>
                    <li><a href="/requestshistory">Requests History</a></li>
                    <li><a href="/userprofile">User Profile</a></li>
                    <li><a href="/">Sign Out</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <main>
        <div class="container">
            <h3 class="center-align">AI Football Scout request form</h3>
            <form name="AiInputForm" action="/getdataforai" method="post" onsubmit="return validateForm()">
                <input id="AiInputFormPosition" type="hidden" name="position" value="">
                <input id="AiInputFormAgeGroup" type="hidden" name="ageGroup" value="">
                <input id="AiInputFormCategory" type="hidden" name="playerCategory" value="">
                <ul class="stepper horizontal">
                    <li class="step active">
                        <div class="step-title waves-effect" id="titlestep1">Position</div>
                        <div class="step-content">
                            <div class="row">
                                <h5>Select player position: </h5>
                            </div>
                            <div class="row">
                                <div class="col s3 m3">
                                    <div class="card" id="position_card">
                                        <div class="card-image">
                                            <img src="images/dashboardInput/attacker.jpg" height="150" width="100">
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title">Attacker</span>
                                            <p>Attackers aim to provide shots and score goals</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s3 m3">
                                    <div class="card" id="position_card">
                                        <div class="card-image">
                                            <img src="images/dashboardInput/midfielder.jpg" height="150" width="100">

                                        </div>
                                        <div class="card-content">
                                            <span class="card-title">Midfielder</span>
                                            <p>Midfielders focus on progressive key passes</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s3 m3">
                                    <div class="card" id="position_card">
                                        <div class="card-image">
                                            <img src="images/dashboardInput/defender.jpg" height="150" width="100">

                                        </div>
                                        <div class="card-content">
                                            <span class="card-title">Defender</span>
                                            <p>Defenders cares about interception attacks</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s3 m3">
                                    <div class="card" id="position_card">
                                        <div class="card-image">
                                            <img src="images/dashboardInput/goalkeeper.jpg" height="150" width="100">

                                        </div>
                                        <div class="card-content">
                                            <span class="card-title">Goalkeeper</span>
                                            <p>Goalkeepers stop shots and prevent goals</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="step-actions">
                                    <button class="waves-effect waves-dark btn next-step"
                                        id="continue_button_1">CONTINUE</button>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="step">
                        <div class="step-title waves-effect" id="titlestep2">Age Range</div>
                        <div class="step-content">
                            <div class="row">
                                <h5>Select player's age range: </h5>
                            </div>
                            <div class="row">
                                <div class="col s3 m3">
                                    <div class="card" id="ageRange_card">
                                        <div class="card-image">
                                            <img src="images/dashboardInput/below20.png" height="150" width="100"
                                                style='object-fit: contain'>
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title">Age below 20 years old</span>
                                            <p>Young players in the start of their careers as a professional footballers
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s3 m3">
                                    <div class="card" id="ageRange_card">
                                        <div class="card-image">
                                            <img src="images/dashboardInput/between20-23.png" height="150" width="100"
                                                style='object-fit: contain'>

                                        </div>
                                        <div class="card-content">
                                            <span class="card-title">Age between 20-23 years old</span>
                                            <p>Young players with some years of experience in professional football</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s3 m3">
                                    <div class="card" id="ageRange_card">
                                        <div class="card-image">
                                            <img src="images/dashboardInput/between24-30.png" height="150" width="100"
                                                style='object-fit: contain'>

                                        </div>
                                        <div class="card-content">
                                            <span class="card-title">Age between 24-30 years old</span>
                                            <p>Perfect balanced professional football players between experience and
                                                age</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s3 m3">
                                    <div class="card" id="ageRange_card">
                                        <div class="card-image">
                                            <img src="images/dashboardInput/above30.png" height="150" width="100"
                                                style='object-fit: contain'>

                                        </div>
                                        <div class="card-content">
                                            <span class="card-title">Age above 30 years old</span>
                                            <p>The most experienced football players at the end of their professional
                                                careers</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="step-actions">
                                <button class="waves-effect waves-dark btn next-step"
                                    id="continue_button_2">CONTINUE</button>
                                <button class="waves-effect waves-dark btn-flat previous-step">BACK</button>
                            </div>
                        </div>
                    </li>
                    <li class="step">
                        <div class="step-title waves-effect" id="titlestep3">Profile</div>
                        <div class="step-content">
                            <div class="row">
                                <h5>Select player's category: </h5>
                            </div>
                            <div class="row">
                                <div class="col s3 m3">
                                    <div class="card" id="category_card">
                                        <div class="card-image">
                                            <img src="images/dashboardInput/lowAppearances.png" height="150" width="100"
                                                style='object-fit: contain'>
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title">Lack of games</span>
                                            <p>Group of players which has a lack of matches appearances</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s3 m3">
                                    <div class="card" id="category_card">
                                        <div class="card-image">
                                            <img src="images/dashboardInput/belowAverage.png" height="150" width="100"
                                                style='object-fit: contain'>

                                        </div>
                                        <div class="card-content">
                                            <span class="card-title">Below average</span>
                                            <p>Group of players which has below average performance metrics</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s3 m3">
                                    <div class="card" id="category_card">
                                        <div class="card-image">
                                            <img src="images/dashboardInput/average.png" height="150" width="100"
                                                style='object-fit: contain'>

                                        </div>
                                        <div class="card-content">
                                            <span class="card-title">Average</span>
                                            <p>Group of players which has average performance metrics</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s3 m3">
                                    <div class="card" id="category_card">
                                        <div class="card-image">
                                            <img src="images/dashboardInput/prospective.png" height="150" width="100"
                                                style='object-fit: contain'>

                                        </div>
                                        <div class="card-content">
                                            <span class="card-title">Prospective</span>
                                            <p>Group of players which has prospective performance metrics</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s3 m3">
                                    <div class="card" id="category_card">
                                        <div class="card-image">
                                            <img src="images/dashboardInput/top.png" height="150" width="100"
                                                style='object-fit: contain'>

                                        </div>
                                        <div class="card-content">
                                            <span class="card-title">Top</span>
                                            <p>Players group which has outstanding performance metrics</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="step-actions">
                                <button class="waves-effect waves-dark btn" type="submit"
                                    id="submit_button">SUBMIT</button>
                                <button class="waves-effect waves-dark btn-flat previous-step">BACK</button>
                            </div>
                        </div>
                    </li>
                </ul>
            </form>
        </div>
    </main>


    <footer class="page-footer">
        <div class="footer-copyright">
            <div class="container">
                © 2024 Deakin University
                <a class="grey-text text-lighten-4 right" href="#!">deakin.edu.au</a>
            </div>
        </div>
    </footer>
    <script src="js/dashboardinput.js"> </script>
</body>

</html>

