<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>AI Football Scout</title>
    <!-- MaterializeCSS used for project https://materializecss.com/about.html -->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <nav>
        <div class="nav-wrapper">
            <div class="container">

                <a href="/"><img class="circle responsive-img" src="/images/project logo.jpg"
                        alt="" width="55" height="55"></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/dashboardinput">Make AI Request</a></li>
                    <li><a href="/requestshistory">Requests History</a></li>
                    <li><a href="/userprofile">User Profile</a></li>
                    <li><a href="/">Sign Out</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <main class="container">
        <h1>User Profile</h1>
        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                        <% userData.forEach(function(user) { %>
                        <ul class="collection">
                            <li class="collection-item">
                                <span class="title">Username:</span>
                                <p><%= user.user %></p>
                            </li>
                            <li class="collection-item">
                                <span class="title">Email:</span>
                                <p><%= user.email %></p>
                            </li>
                            <li class="collection-item">
                                <span class="title">Plan:</span>
                                <p><%= user.plan %></p>
                            </li>
                            <li class="collection-item">
                                <span class="title">Remaining Queries:</span>
                                <p><%= user.queries %></p>
                            </li>
                        </ul>
                        <% }); %>
                    </div>
                </div>
            </div>
        </div>
    </main>
    
    


    <footer class="page-footer">
        <div class="footer-copyright">
            <div class="container">
                © 2024 Deakin University
                <a class="grey-text text-lighten-4 right" href="#!">deakin.edu.au</a>
            </div>
        </div>
    </footer>
</body>

</html>